@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mainTitle{
  font-size: xx-large;
  padding-bottom: 10px;
}

.searchBox{
  padding: 5px;
  margin: 5px;
  outline: auto #0a0a0a;
  outline-width: 3px;
}

.searchButton{
  padding: 5px;
  margin: 5px;
  outline: auto #0a0a0a;
  outline-width: 5px;
}

li.elem{
  display: flex;
  flex-direction: row;
  height: 151px;
  margin: 25px;
  outline: 2px white;
  outline-style: auto;
  padding: 3px;
}

li.elem a{
  height: 100%;
  width: 70px;
}

li.elem div.innerElem{
  display: flex;
  flex-direction: column;
  margin-right: 3px;
}

li.elem div.innerElem h1{
  font-size: large;
  text-overflow: ellipsis;
  overflow: hidden; 
}

li.elem div.innerElem h2{
  font-size: small;
}

li.elem div.innerElem p.smallText{
  font-size: x-small;
  text-overflow: ellipsis;
  overflow: hidden; 
}